# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

# Discord OAuth2
DISCORD_CLIENT_ID="your_client_id"
DISCORD_CLIENT_SECRET="your_client_secret"

# Allowed User
ALLOWED_DISCORD_ID="your_discord_user_id"

# Security
JWT_SECRET="long_random_string_for_jwt_signature"

# App URL (Must match the redirect URI in Discord Developer Portal: /api/auth/discord/callback)
APP_URL="http://192.168.0.100:3006"
